body {
    background: #0056b3 ;
}
h5{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
* {
    font-size: 10px !important;
}

.client-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.client-header {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.client-header h4 {
    margin: 0;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.form-select-sm, .form-control-sm {
    width: auto;
    display: inline-block;
}

.text-center.w-100 {
    text-align: center;
    width: 100%;
}

.btn-salir {
    width: 150px; /* Ajusta el ancho del botón según tus necesidades */
    height: 35px; /* Ajusta la altura del botón según tus necesidades */
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
}