
body {
    background:#0056b3; 
}

#clienteDetalles {
    display: none;
    margin-top: 20px;
    padding: 15px; /* Añade espacio interno */
    border: 2px solid #ddd; /* Añade un borde */
    border-radius: 8px; /* Redondea las esquinas */
    /* background-color: #ac1515; */ /* Color de fondo */
    position: relative; /* Asegura que los botones se posicionen dentro de este contenedor */
    overflow: hidden; /* Evita que los elementos se desborden */
}
.table thead th {
    background-color: #FFD700; /* Fondo Bootstrap */
    color: rgb(5, 0, 0);              /* Texto blanco */
    font-weight: bold;
    text-align: center;
}
.details-container {
    height: 220px; /* Altura fija para el contenedor de detalles */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    padding-right: 0px; /* Espacio para la barra de desplazamiento */
    box-sizing: content-box; /* Asegura que el padding se añada fuera del tamaño total */
    position: relative; /* Asegura que los elementos absolutos se posicionen dentro de este contenedor */
}
/* en la parte de informacion del cliente */
.details-container {
    background-color: #fdfcfc; /* Mantiene el color de fondo gris claro */
    border-radius: 0px;      /* Redondea las esquinas del contenedor */
}
/* ----------Para los titulos: lista de clientes y informacion del cliente ----------------------*/
/* Estilos para centrar los títulos dentro de contenedores específicos */
.fixed-header h5,
.details-container h5 {
    text-align: center; /* Centra el texto dentro del elemento */
    margin-top: 0px;     /* Elimina el margen superior para evitar espacios no deseados */
    margin-bottom: 3px; /* Añade un margen inferior para separar del contenido siguiente */
}
.client-search-title { /* busqueda de quiententes titulo */
    color: white; /* Cambia el color del texto a blanco */
    text-align: center; /* Centra el texto */
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Estilos adicionales para los contenedores si es necesario */
.fixed-header {
    background-color: #000000; /* Mantiene el color de fondo azul oscuro */
    color: white;             /* Mantiene el color del texto blanco */
    padding: 5px;            /* Mantiene el espacio interno */
    border-radius: 8px 8px 0 0; /* Mantiene las esquinas superiores redondeadas */
    /* z-index: 2; /* Asegura que el encabezado esté sobre el contenido desplazable */ 
}

.scrollable-table-container {
    max-height: 160px; /* Altura máxima para la tabla */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    padding-right: 15px; /* Espacio para la barra de desplazamiento */
}
/* Estilo para cambiar el color de fondo del contenedor de búsqueda */
.busqueda-clientes {
    max-height: 130px; /* Altura máxima para la tabla */
    font-size: 10px;
    background-color: #000000; /* Cambia este valor al color que prefieras */
    padding: 5px; /* Añade un poco de espacio interno */
    border-radius: 8px; /* Redondea las esquinas del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Añade una sombra suave */
    margin-top: 5px;
}
.busqueda-clientes label {
    font-size: 10px;       /* Tamaño del texto de las etiquetas */
    margin-bottom: 2px;    /* Espacio pequeño debajo de cada etiqueta */
}

.busqueda-clientes .campo {
    margin-top: 0px;       /* Espacio por encima del botón */
    margin-bottom: 0px;    /* Espacio pequeño debajo de cada grupo de campo */
}

.busqueda-clientes .btn {
    font-size: 10px;       /* Tamaño del texto del botón */
    padding: 1px 50px;      /* Ajuste del tamaño interno del botón (vertical y horizontal) */
    margin-top: 0px;       /* Espacio por encima del botón */
    margin-bottom: 0px;       /* Espacio por encima del botón */
    background-color: #FFD700 ; /* Color de fondo: amarillo tipo "warning" */
    color: black;              /* Color del texto: negro */
    font-weight: bold;         /* Texto en negrita */
}

thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1; /* Asegura que el encabezado de la tabla esté sobre el contenido desplazable */
}

.vertical-button-container {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: 100%; */ /* Ocupa todo el espacio vertical disponible */
    display: flex;
    flex-direction: column;
}
.vertical-button-cont {
    /* background-color: rgba(255, 255, 255, 0.5); */ /* Fondo semi-transparente */
    border: 1px solid white; /* Borde blanco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Redondea las esquinas del contenedor */
    /* height: 100%; */ /* Ocupa todo el espacio vertical disponible */
    display: flex;
    flex-direction: column;
}

.form-container {
    flex: 1; /* Ocupa el espacio restante en el contenedor vertical */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    padding-right: 15px; /* Espacio para la barra de desplazamiento */
}

/* boton de informacion del cliente */
.fixed-buttons {
    position: absolute; /* Cambiar a absolute */
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 5px;
    justify-content: space-around;  /* Centra los botones horizontalmente */
    margin-top: 0px; /* Añade espacio entre los botones y el contenido */
    display: flex;
    justify-content: space-between; /* Distribuye los botones uniformemente */   
    gap: 10px; /* Espacio entre los botones */
}
.fixed-buttons button {
    padding: 3px; /* definir la altura */
    font-size: 10px; /* Ajusta el tamaño de la fuente si es necesario */
    border: none;
    cursor: pointer;
    background-color: #003366;
    transition: background-color 0.3s; /* Transición suave */
    font-weight: bold;             /* Texto en negrita */
    flex: 1; /* Cada botón ocupa el mismo espacio */
}
.fixed-buttons button:hover {
    font-weight: bold;             /* Texto en negrita */
    background-color: #FFD700; /* Color azul al pasar el mouse */
    color: #000000; /* Cambia el color del texto si lo deseas */
}
#clienteDetalles {
    height: 310px;         /* Cambia este valor según lo que necesites */
    padding: 0 !important;
    margin: 0 !important;
}
/* boton para registrar nuevo cliente */
.boton-registro{
    padding: 5px; /* definir la altura */
    font-size: 10px; /* Ajusta el tamaño de la fuente si es necesario */
    background-color: #003366;
    font-weight: bold;     /* Texto en negrita */
}
.line {
    position: absolute; /* Asegura que la línea esté posicionada dentro del contenedor */
    right: 0; /* Ajusta la posición de la línea según sea necesario */
    top: 0;
    bottom: 0;
    width: 5px; /* Ajusta el ancho de la línea */
    background-color: red; /* Color de la línea */
}

/* Estilos para los títulos "Titular" y "Aval" */
.titular-title, .aval-title {
    font-size: 10px;        /* Tamaño de fuente más pequeño */
    background-color: #FFD700; /* Color de fondo */
    font-weight: bold;             /* Texto en negrita */
    padding: 4px;
    border-radius: 8px;
    margin: 0; /* Elimina los márgenes para un mejor ajuste */
    color: black; /* Asegura que el texto sea visible */
}

/* Asegúrate de que el contenedor del botón ocupe todo el ancho disponible */
.informe-button-container {
    width: 100%;                     /* El contenedor ocupa todo el ancho disponible */
    display: flex;                   /* Usamos flexbox para organizar su contenido */
    justify-content: center;        /* Centra el botón horizontalmente (puedes quitarlo si no quieres centrado) */
    margin-top: 10px;               /* Espacio hacia arriba del botón */
    margin-bottom: 0;                /* Quita el espacio debajo del botón */
}

.informe-button {
    width: 100%;                    /* El botón ocupará todo el ancho del contenedor padre */
    height: 30px;                   /* Altura del botón */
    font-size: 12px;                /* Tamaño del texto dentro del botón */
    border-color: #003366;
    border-radius: 8px;             /* Esquinas redondeadas del botón */
    font-weight: bold;             /* Texto en negrita */
    background-color: #FFD700;     /* Color de fondo (amarillo tipo Bootstrap warning) */
    border-bottom: #003366;                  /* Sin borde alrededor del botón */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);  /* Sombra para dar profundidad visual */
    margin-top: 0px;                /* Quita el espacio arriba del botón */
}


